@import url('null.css');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;600;700&family=Manrope:wght@700&display=swap');

$primary-color: #EE8313;

%global-title {
    color: #FFF;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.312px;
    margin-bottom: 40px;
    padding-top: 60px;
}
%item-title {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.144px;
}
%item-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.096px;
    opacity: 0.8;
}

html {
    overflow: hidden;
}
body {
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    background: #000;
}

[class*="__container"]{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

//-- Hero -------------------------------------

.hero {
    width: 100%;
    margin-bottom: 200px;
    .hero__header {
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 15px;
        position: fixed;
        top: 0;
        z-index: 10;

        .header__logo {
            z-index: 100;
        }
        .header__burger {
            display: none;
            padding: 9px 2px;
    
            background: none;
            border: 0;
            cursor: pointer;
        }
    }
    .hero__header::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-color:rgba(0, 0, 0, 0.7)
    }
}

.nav {
    display: flex;
    align-items: center;
    padding-right: 105px;
    .nav__links {
        display: flex;
        align-items: center;
        column-gap: 48px;
        margin-right: 72px;

        .nav__link a{
            color: #FFF;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.16px;

            text-decoration: none;
            transition: color 0.5s ease;
            &:hover {
                color: $primary-color;
            }
        }
    }
}
.btn {
    padding: 12px 24px;
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    transition: all 0.5s ease;
    
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;

    &:hover {
        background-color: $primary-color;
        color: #FFF;
    }
}

.hero__hero {
    display: flex;
    margin-top: 195px;


    .hero__content {
        display: flex;
        flex: 1 1 50%;
        flex-direction: column;
        justify-items: flex-start;
        

        .hero__title {
            max-width: 591px;
            font-size: 52px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: 0.312px;
        }
        .hero__subtitle {
            max-width: 451px;
            margin-top: 32px;
            font-size: 17px;
            line-height: 28px;
            letter-spacing: -0.408px;
            opacity: 0.8;
        }
        .hero__block-btn {
            max-width: 591px;
            margin-top: 48px;

            display: flex;
            gap: 35px;
        }
        .hero__statistics {
            max-width: 591px;
            display: flex;
            margin-top: 40px;
            gap: 40px;

            .hero__top {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: 16px;

                .hero__top-num {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 33px;
                    letter-spacing: -0.164px;
                }
                .hero__top-text {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.16px;
                }
            }
        }
    }
    .hero__img {
        display: flex;
        flex: 1 1 50%;
        position: relative;
        .hero__img-fon {
            position: absolute;
            right: -214px;
            left: 0;
            top: 0;
            bottom: -138px;
            z-index: -1;
            background-color: rgba(34, 33, 33, 0.584);
        }
        & img {
            position: absolute;
            top: 46px;
            right: -15px;
            bottom: 60px;
        }
    }
}

//-- Page -------------------------------------

.page {
    .page__container {
        // Rent
        .page__rent {
            margin-bottom: 60px;
            .rent__title {
                @extend %global-title;
            }
            .rent__cars {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 32px;
                .rent__car {
                    max-width: 584px;
                    max-height: 524px;
                    position: relative;
                    & img {
                        max-width: 584px;
                        max-height: 524px;
                    }
                    .rent__category {
                        position: absolute;
                        top: 48px;
                        left: 48px;
                        z-index: 5;

                        font-size: 40px;
                        font-weight: 600;
                        line-height: 52px;
                        letter-spacing: 0.24px;
                    }
                    .rent__discover {
                        position: absolute;
                        right: 48px;
                        bottom: 48px;
                        z-index: 5;

                        font-size: 24px;
                        font-weight: 500;
                        line-height: 32px;
                        letter-spacing: 0.144px;
                        color: #FFF;
                        
                        img {
                            max-width: 32px;
                        }

                        &:hover {
                            border-bottom: 3px solid #FFF;
                        }
                    }                
                }
            }
        }
        // Services
        .page__services {
            padding-top: 60px;
            margin-bottom: 60px;
            .services__title {
                padding: 0 120px;
                font-size: 52px;
                font-weight: 700;
                line-height: 64px;
                letter-spacing: 0.312px;

                margin-bottom: 66px;
            }
            .services__items {
                display: flex;
                flex-flow: row wrap;
                column-gap: 24px;
                row-gap: 74px;
                justify-content: center;
                align-items: center;
                .services__item {
                    display: flex;
                    flex-direction: column;
                    max-width: 384px;

                    & img {
                        max-width: 384px;
                        max-height: 360px;
                    }
                    .item__title {
                        @extend %item-title;
                    }
                    .item__subtitle {
                        margin-top: 16px;
                        @extend %item-subtitle;
                    }
                }
            }
        }
        // Places
        .page__places {
            margin-bottom: 60px;
            .places__title {
                @extend %global-title;
                max-width: 591px;
                margin: 0 auto 40px auto;
            }
            .places__items {
                display: flex;            
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 24px;

                .places__item {
                    max-width: 384px;
                    border: 1px solid #171717;
                    background-color: #131313;
                    & img {
                        max-width: 384px;
                        max-height: 256px;
                    }
                    .item__content {
                        padding:24px;

                        .item__title {
                            @extend %item-title;
                            color: #fff;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .item__subtitle {
                            margin-top: 10px;
                            @extend %item-subtitle;
                        }
                        .item__cost {
                            margin-top: 25px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            column-gap: 10px;
                            
                            span {
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 28px;
                                letter-spacing: 0.066px;
                            }
                        }
                        .item__search {
                            margin-top: 17px;
                            a {
                                color: $primary-color;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 28px;
                                letter-spacing: 0.066px;
                                
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }   
    } 
}

//-- Location -------------------------------------

.page__location {
    width: 100%;
    margin: 102px 0;
}
.location__title {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.312px;
}
.location {
    padding-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
