@import url("null.css");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;600;700&family=Manrope:wght@700&display=swap");
html {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  color: #fff;
  background: #000;
}

[class*=__container] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  width: 100%;
  margin-bottom: 200px;
}
.hero .hero__header {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 15px;
  position: fixed;
  top: 0;
  z-index: 10;
}
.hero .hero__header .header__logo {
  z-index: 100;
}
.hero .hero__header .header__burger {
  display: none;
  padding: 9px 2px;
  background: none;
  border: 0;
  cursor: pointer;
}
.hero .hero__header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 105px;
}
.nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  margin-right: 72px;
}
.nav .nav__links .nav__link a {
  color: #FFF;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.nav .nav__links .nav__link a:hover {
  color: #EE8313;
}

.btn {
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #EE8313;
  color: #EE8313;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.16px;
}
.btn:hover {
  background-color: #EE8313;
  color: #FFF;
}

.hero__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 195px;
}
.hero__hero .hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
}
.hero__hero .hero__content .hero__title {
  max-width: 591px;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.312px;
}
.hero__hero .hero__content .hero__subtitle {
  max-width: 451px;
  margin-top: 32px;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.408px;
  opacity: 0.8;
}
.hero__hero .hero__content .hero__block-btn {
  max-width: 591px;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.hero__hero .hero__content .hero__statistics {
  max-width: 591px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  gap: 40px;
}
.hero__hero .hero__content .hero__statistics .hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 16px;
}
.hero__hero .hero__content .hero__statistics .hero__top .hero__top-num {
  font-size: 40px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.164px;
}
.hero__hero .hero__content .hero__statistics .hero__top .hero__top-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.16px;
}
.hero__hero .hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
}
.hero__hero .hero__img .hero__img-fon {
  position: absolute;
  right: -214px;
  left: 0;
  top: 0;
  bottom: -138px;
  z-index: -1;
  background-color: rgba(34, 33, 33, 0.584);
}
.hero__hero .hero__img img {
  position: absolute;
  top: 46px;
  right: -15px;
  bottom: 60px;
}

.page .page__container .page__rent {
  margin-bottom: 60px;
}
.page .page__container .page__rent .rent__title {
  color: #FFF;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.312px;
  margin-bottom: 40px;
  padding-top: 60px;
}
.page .page__container .page__rent .rent__cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.page .page__container .page__rent .rent__cars .rent__car {
  max-width: 584px;
  max-height: 524px;
  position: relative;
}
.page .page__container .page__rent .rent__cars .rent__car img {
  max-width: 584px;
  max-height: 524px;
}
.page .page__container .page__rent .rent__cars .rent__car .rent__category {
  position: absolute;
  top: 48px;
  left: 48px;
  z-index: 5;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0.24px;
}
.page .page__container .page__rent .rent__cars .rent__car .rent__discover {
  position: absolute;
  right: 48px;
  bottom: 48px;
  z-index: 5;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.144px;
  color: #FFF;
}
.page .page__container .page__rent .rent__cars .rent__car .rent__discover img {
  max-width: 32px;
}
.page .page__container .page__rent .rent__cars .rent__car .rent__discover:hover {
  border-bottom: 3px solid #FFF;
}